@charset "UTF-8";
/* CSS Document */

/*------------------------------------------- Elementer som skal gøre det samme  -------------------------------------*/

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

h1, h2, h3, a, p {
	
	line-height: 1.3;
	
}

p {
	font-size: 16px;
	color: #707070;
	
}

ul, li {
	color: #707070;
}

.overskifter {
	color: #806E60;
}


.tilbage{
	display: inline-block;
	float: left;
	color: #806E60;
	font-size: 14px;
	line-height: 120%;
	border: 1px solid #806E60;
	padding: 10px 12px;
	text-decoration: none;
	cursor: pointer;
	margin-top: 13%;
	margin-left: 4%;
}
.tilbage:hover{
	color: black;
	border: 1px solid black;
	
}



/*------------------------------------------------------- Logo ------------------------------------------*/
#logo {
	background-image: url(image/logo.svg);
	background-repeat: no-repeat;
	height: 90%;
	float: left;
	padding-left: 7.6%;
	margin-top: 9px;
	
}


/*------------------------------------------------------- Logo slut------------------------------------------*/

#navn{
	background-image: url(image/navn.svg);
	background-size: 70%;
	background-repeat: no-repeat;
	padding-bottom: 200px;
	margin-top: 150px;
	margin-left: 400px;
		
}


  /*------------------------------------------------------- Navigation ------------------------------------------*/

  /*-----------Taget fra https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar-----------------*/

  #upper-nav {
	width: 100%;
	height: 10%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #806E60;
	border-bottom: 1px solid #333333;
	z-index: 1;
	


}

 
#navi {
	list-style: none;
	font-size: 17px;
	padding-right: 105px;
	margin-top: 20px;
	text-align: center;
	float: right;
	
	
		
}

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
			
        }

        li {
            float: left;
        }

            li a, .dropbtn {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
				
            }

                li a:hover, .dropdown:hover .dropbtn {
                    color: black;
                }

            li.dropdown {
                display: inline-block;
				
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #FFFFFF;
            min-width: 250px;
            z-index: 1;
			border: double #806E60;;
			
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    color: #806E60;
                }

        .dropdown:hover .dropdown-content {
            display: block;
			
        }
 /*------------------------------------------------------- Navigation slut------------------------------------------*/
/*------------------------------------------------------- Forside ------------------------------------------*/




/*------------------------------------------------------- Forside slut ------------------------------------------*/
/*------------------------------------------------------- Portfolio ------------------------------------------*/



/*------------------------------------------------------- Gallery Portfolio ------------------------------------------*/

#portfolio_gallery {
	display: flex;
	flex-wrap: wrap;
	padding-left: 3.2%;
	padding-top: 50px;
	margin-right: 5%;
		
}
	
.container_gallery {
	width: 30%;
	padding-left: 3%;
	margin-top: 10px;
	

	
}

.container_gallery:hover {
	opacity: 0.5;
	border: 1px solid #806E60;
	
    
}

.container_gallery img {
    width: 90%;
	height: auto;
	margin-top: 10%;
	
	

	
	
	
}



/*------------ Teksten under billederne  -------------*/

.tekst_under {
	color: #806E60;
	padding: 15px;
	
}


/*------------------------------------------------------- Photoshop------------------------------------------*/

#tekst_photoshop{
	padding-top: 160px;
	width: 400px;
	margin-left: 60px;
	display: block;
	float: left;
	
	
	
}

#tekst_photoshop a{
	float: none;
	color: #806E60;
	text-decoration: none;
	
}



#billede_photoshop1 {
	background-image: url(image/bro.jpg);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-right: -0.2px;
    width: 260px;
	float: right;
	margin-bottom: 200px;
	margin-top: 190px;
	
}

#billede_photoshop2 {
	background-image: url(image/brofærdig.jpg);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-left: 20%;
    width: 260px;
	float: right;
	margin-top: -170px;
	margin-bottom: 200px;
}


/*------------------------------------------------------- Photoshop slut ------------------------------------------*/



/*------------------------------------------------------- Drømme portfolio  ------------------------------------------*/


/*------------ på næste side  = efter man har klikket -------------*/


#droemme_tekst {
	padding-top: 160px;
	width: 400px;
	margin-left: 60px;
	display: block;
	float: left;
}


#droemme_tekst p, ul, li {
	color: #707070;

	
}
#droemme_tekst a{
	float: none;
	color: #806E60;
	text-decoration: none;
	
}


#droemme_billede {
	background-image: url(image/droemmeportfolio.png);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-right: -0.2px;
    width: 260px;
	float: right;
	margin-bottom: 200px;
	margin-top: 190px;
	height: 300px;
	
}
    
   
/*------------------------------------------------------- Drømme portfolio SLUT  ------------------------------------------*/


/*------------------------------------------------------- Byg din Portfolio  ------------------------------------------*/

#byg_portfolio_tekst {
	padding-top: 160px;
	width: 400px;
	margin-left: 80px;
	display: block;
	float: left;
	
}

#byg_portfolio_tekst a {
	float: none;
	color: #806E60;
	text-decoration: none;
	
}

#byg_portfolio_billlede {
	background-image: url(image/bygportfoliopics.svg);
	background-size: 85%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-right: 9px;
    width: 260px;
	float: right;
	margin-bottom: 200px;
	margin-top: 190px;
	
}

/*------------ på næste side  = efter man har klikket -------------*/



/*------------------------------------------------------- Byg din Portfolio SLUT  ------------------------------------------*/


/*------------------------------------------------------- Byg en app ------------------------------------------*/


/*------------ på næste side  = efter man har klikket -------------*/

#app_tekst {
	padding-top: 160px;
	width: 400px;
	margin-left: 80px;
	display: block;
	float: left;
	
	
}

#app_tekst a{
	float: none;
	color: #806E60;
	text-decoration: none;
	
}



#app_mobil {
	background-image: url(image/appskærm.jpg);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-right: -0.2px;
    width: 260px;
	float: right;
	margin-bottom: 200px;
	margin-top: 190px;
	
}




/*--------------- Redesign af app ----------------*/

#app_redesign_teskt {
	padding-top: 160px;
	width: 400px;
	margin-left: 80px;
	display: block;
	float: left;
}

#app_redesign_teskt a {
	float: none;
	color: #806E60;
	text-decoration: none;
	
	
}

#redesign_app_mobile{
	background-image: url(image/redesignapp.svg);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-right: -0.2px;
    width: 260px;
	float: right;
	margin-bottom: 200px;
	margin-top: 190px;
	

}


#redesign_begge_mobile {
	background-image: url(image/app_begge2.jpg);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-left: 20%;
    width: 260px;
	float: right;
	margin-top: -170px;
	margin-bottom: 200px;
	
}


	


/*------------------------------------------------------- Byg en app SLUT  ------------------------------------------*/


/*------------------------------------------------------- Sweetbot ------------------------------------------*/



/*------------ på næste side  = efter man har klikket -------------*/

#sweetbot_tekst {
	padding-top: 160px;
	width: 400px;
	margin-left: 80px;
	display: block;
	float: left;
}

#sweetbot_tekst p, ul, li {
	color: #707070;

	
}

#sweetbot_tekst a {
	float: none;
	color: #806E60;
	text-decoration: none;
	
}

#sweetbot_billede {
	background-image: url(image/sweetbot.png);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-right: -0.2px;
    width: 260px;
	float: right;
	margin-bottom: 200px;
	margin-top: 190px;
	

}
	

#hotbot_billede {
	background-image: url(image/hotbot.png);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-left: 20%;
    width: 260px;
	float: right;
	margin-top: -250px;
	margin-bottom: 200px;
}

/*--------------------------Redesign af sweetbot ----------*/

#redesignsweetbot_tekst {
	padding-top: 160px;
	width: 400px;
	margin-left: 80px;
	display: block;
	float: left;
}

#redesignsweetbot_tekst a {
	float: none;
	color: #806E60;
	text-decoration: none;
	
}

#sweetbot_redesign_billede {
	background-image: url(image/sweetbot_redesign.png);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-right: -0.2px;
    width: 260px;
	float: right;
	margin-bottom: 200px;
	margin-top: 190px;

}
	

#hotbot_redesign_billede {
	background-image: url(image/hotbot_redesign.png);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-left: 20%;
    width: 260px;
	float: right;
	margin-top: -250px;
	margin-bottom: 200px;
}




/*------------------------------------------------------- Sweetbot SLUT ------------------------------------------*/
/*------------------------------------------------------- Portfolio ------------------------------------------*/

#portfolio_teskt {
	padding-top: 160px;
	width: 400px;
	margin-left: 80px;
	display: block;
	float: left;
}

#portfolio_teskt a {
	float: none;
	color: #806E60;
	text-decoration: none;
	
}

#portfolio_billede {
	background-image: url(image/portfolio.jpg);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-left: 20%;
    width: 260px;
	float: right;
	margin-top: -250px;
	margin-bottom: 200px;
	
}



/*----------------------------------------------------- Portfolio SLut ---------------------------------------*/
/*------------------------------------------------------- Gallery Portfolio SLUT ------------------------------------*/
/*------------------------------------------------------- Portfolio SLUT ------------------------------------------*/
/*-------------------------------------------------------  Profil  ------------------------------------------*/


#container_bigboxs {
	background-color: #F8F8F8;
	height: 940%;
	margin-top: 200px;
	border-top: double #806E60;
	border-bottom: double #806E60;
}

#billede_mig {
	background-image: url(image/profilmig.png);
	background-repeat: no-repeat;
	background-size: 350px;
	background-position: center;
	padding-bottom: 600px;
	 
}


#overskrift_profil {
	text-align: center;
	margin-top: -100px;
}

#om_mig_tekst {
	margin-left: 29%;
	margin-right: 29%;
	text-align: left;
	margin-bottom: 100px;
	
	
	
}
/*------------------------------------------------------- kompetencer ------------------------------------------*/

#overskrift_kompetencer {
	text-align: center;
	margin-bottom: 50px;

}

#kompetencer_boxs {
	display: flex;
	flex-wrap: wrap;
	padding-left: 22%;
	
		
}
	
.container_icons{
	width: 360px;	
	margin: -20px;

	
}


.container_icons img {
    width: 40%;
	padding: -100px;
	
	
	
}



/*------------ Teksten under billederne  -------------*/

.text_icons {
	color: #806E60;
	font-size: 25px;
	padding-left: 15px;
	
	
}


/*---------- skills --------------*/
/*--------Taget det fra hjemmesiden https://www.w3schools.com/howto/howto_css_skill_bar.asp -----------*/

#Kompetencer_tekst{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}


#kompetencer {
	box-sizing: border-box;
	padding-left: 450px;
	margin-bottom: 150px;
	
	
}

.container_kompetencer {
  	width: 55%;
	border: 1px solid #CDBDB1;
	border-radius: 7px;
	box-shadow: 2px 2px 5px #888;
	background-color: white;
	
}

.skills {
  	text-align: right;
  	padding-right: 20px;
  	line-height: 30px;
  	color: #333333;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #888;
	
}

.html {width: 45%; background-color: #DBD2CB;}
.css {width: 45%; background-color: #DBD2CB;}
.design {width: 35%; background-color: #DBD2CB;}
.illu {width: 40%; background-color: #DBD2CB;}
.php {width: 30%; background-color: #DBD2CB;}

/*------------------------------------------------------- kompetencer SLUT ------------------------------------------*/



/*------------------------------------------------------- profil SLUT ------------------------------------------*/


/*-------------------------------------Brugertest og mit forløb ------------------------------------------------*/


#logo_udvikling {
	background-image: url(image/logo.svg);
	background-repeat: no-repeat;
	height: 15%;
	float: left;
	padding-left: 80%;
	margin-left: 8%;
	
}




/*-----Udviklingsproces --------*/

/*--lånt fra https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_fixed------*/




#ul_udvikling {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #806E60;
    position: fixed;
    height: 100%;
    overflow: auto;
	box-shadow: 0 0 10px grey;
}

.li_udvikling a {
    display: block;
    color: white;
    padding: 10px 60px;
    text-decoration: none;
	font-size: 120%;
	
}


.li_udvikling a:hover:not(.active) {
    background-color: #BDADA1;
    color: white;
	font-size: 120%;
	width: 100%;
	
}



#homeicon {
	background-image: url(image/homeicon.svg);
	background-repeat: no-repeat;
	background-size: 50%;
	margin-top: 100%;
	padding-top: 100%;
	
	
}


.udvikling_heltext {
	margin-left:25%;
	padding: 27px 16px;
	
	
	
	
}


#udviklingsproces_text {
	padding-left: 20px;
	color: white;
	margin-top: 50%;
}
/*------------------------------------------------------- flows ------------------------------------------*/

/*-------------------Flow 1-------------*/

.row {
	
}

    .row::after {
        content: "";
        clear: both;
        display: table;
		
    }


.billeder_f {
    width: 50%;
    float: left;
    padding: 20px;
	
}

.billeder_f img {
        width: 70%;
		
    }



/*------------------------------------------------------- Læringsproces SLUT ------------------------------------------*/

/*-------------------------------------------------------Kontakt formular ------------------------------------------*/

#kontakt {
	margin-top: 200px;
	padding-top: 1px;
	
}

#kontakt_tekst{
	text-align: center;
	
	
}

#overskrift_kontakt {
	color: #806E60;
	
}


input[type=text], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	
}

input[type=submit] {
    background-color: #806E60;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	box-shadow: 2px 2px 9px grey;
	border: 1px solid white;
}

input[type=submit]:hover {
    background-color: #DBD2CB;
}

.container_kontakt {
    border-radius: 20px;
    padding-left: 400px;
	padding-bottom: 100px;
	
	
}
/*-------------------------------------------------------Kontakt formular slut ------------------------------------------*/




/*------------------------------------------------------- Footer ------------------------------------------*/


#footer{
	text-align: center;
	border-top: 1px solid #806E60;
	clear: both;
		
}

.ikoner_media {
	margin-top: 30px;
}
/*------------------------------------------------------- Footer slut ------------------------------------------*/




/*------------------------------------------------------- Responsiv ------------------------------------------*/


@media screen and (max-width : 500px ){/*------Mobil --------------*/

#logo {
	
	height: 20px;
	padding-right:  150px;
	margin-bottom: 15px;
	
}

	
#navn{
	background-size: 110%;
	margin-left: 28px;
		
}	

 
#navi {
	
	
	margin-top: -20px;
	margin-right: -90px;
	

		
}
#navi li {
	font-size: 8.7px;
	
	}

      

.dropdown-content {
          
   min-width: 150px;
           
			
}

          

           



#portfolio_gallery {
	padding-left: 50px;;
	margin-top: -130px;

		
		
}

	
.container_gallery:hover {
	opacity: 100;
	border: 0px solid white;
	
    
}
.container_gallery {
	width: 280px;

	

	
}

.container_gallery img {
    width: 100%;
	margin-top: 20px;
	
	
}
/*------------  Menuen slut  --------------*/
/*------------  Profil  --------------*/
	

#billede_mig {
	background-size: 250px;
	margin-top: -80px;
	padding-bottom: 500px;
	 
}

#om_mig_tekst {
	margin-left: 10%;
	margin-right: 10%;
	
}
	
/*------------  Profil slut  --------------*/
/*------------ Kompetencer -----------*/


#kompetencer_boxs {
	padding-left: 20px;
	margin-top: -50px;
	
		
}
	
.container_icons{
	width: 300px;	
	margin: 10px;

	
}


.container_icons img {
    width: 40%;
	padding-left: 100px;
			
}


.text_icons {
	font-size: 16px;
	padding-left: 30px;
	text-align: center;
		
}


/*---------- skills --------------*/

#Kompetencer_tekst{
	margin-top: 40px;
	margin-bottom: 30px;
}


#kompetencer {
	padding-left: 40px;
	
	
	
}

.container_kompetencer {
  	width: 90%;
	
}

.skills {
	font-size: 11px;
  	line-height: 20px;
 
	
	
}
/*------------ Kompetencer slut -----------*/	
/*-------- Læringsproces og brugertest --------------*/



#container_lb {
	padding-left: 60px;		
}

.lb img {
	margin-top: -60px;
	
	
}

#brugertest_text {
	padding-right: 50px;
	margin-top: -90px;
	
}

#brugertest_icon {
	padding-right: 20px;
	}
	
/*------ Læringsproces og brugertest slut --------------*/	
/*----------------kontakt ----------------*/	
		
#kontakt {
	margin-top: 40px;
	padding-top: 80px;
	
}


input[type=text], select, textarea {
    width: 90%;
    padding: 10px;

	
}

input[type=submit] {
    padding: 10px 15px;

}

.container_kontakt {
    padding-left: 50px;
	
	
}
/*--------------kontakt Slut + forsiden slut ------------*/

/*----------------projekterne --------------*/	
/*------- Byg en app ---------------*/


#app_tekst {
	padding-top: 100px;
	width: 290px;
	margin-left: 50px;
	text-align: center;
	
	
	
}

#app_mobil {
	background-size: 50%;
	background-position: center;
	margin-right: -120px;
	margin-top: -60px;
	margin-bottom: 100px;
	
}




/*--------------- Redesign af app ----------------*/

#app_redesign_teskt {
	padding-top: 100px;
	width: 290px;
	margin-left: 50px;
	text-align: center;
}



#redesign_app_mobile {
	background-size: 50%;
	background-position: center;
	margin-right: -120px;
	margin-top: -40px;
	
}

#redesign_begge_mobile {
	background-size: 50%;
	background-position: center;
	margin-right: -130px;
	margin-top: -100px;
	margin-bottom: 100px;
}
	



/*--------------Sweetbot ---------------------*/



#sweetbot_tekst {
	padding-top: 100px;
	width: 290px;
	margin-left: 50px;
	text-align: center;
}



#sweetbot_billede {
	background-size: 50%;
	background-position: center;
	margin-right: -120px;
	margin-top: -60px;
	
}
	
#hotbot_billede {
	background-size: 50%;
	background-position: center;
	margin-right: -120px;
	margin-top: -170px;
	margin-bottom: 100px;
}

/*--------Redesign af sweetbot --------*/

#redesignsweetbot_tekst {
	padding-top: 100px;
	width: 290px;
	margin-left: 50px;
	text-align: center;
}


#sweetbot_redesign_billede {
	background-size: 50%;
	background-position: center;
	margin-right: -120px;
	margin-top: -60px;

}
	

#hotbot_redesign_billede {
	background-size: 50%;
	background-position: center;
	margin-right: -120px;
	margin-top: -170px;
	margin-bottom: 100px;
}



/*----- Sweetbot SLUT ------*/


/*-----Drømme portfolio  -----*/


#droemme_tekst {
	padding-top: 100px;
	width: 290px;
	margin-left: 50px;
	text-align: center;
}




#droemme_billede {
	background-size: 50%;
	background-position: center;
	margin-right: -120px;
	margin-top: -150px;
	margin-bottom: 100px;
}
    
   
/*------- Drømme portfolio SLUT  -----------*/


/*--------Byg din Portfolio  ---------*/

#byg_portfolio_tekst {
	padding-top: 100px;
	width: 290px;
	margin-left: 50px;
	text-align: center;
}



#byg_portfolio_billlede {
	background-size: 50%;
	background-position: center;
	margin-right: -120px;
	margin-top: -70px;
	margin-bottom: 100px;
	
}
	
	
/*------------- Udviklingsproces -----------*/

#logo_udvikling {
	height: 15%;
	padding-left: 130%;
	margin-left: -18%;
	
}

.udvikling_heltext {
	margin-left: 30%;
	padding: 1px 8px;
	height: 1000px;
	}	
	
	
#udviklingsproces_text {
	padding-left: 1%;
	font-size: 50%;
	margin-top: 10%;
	
}
	
#Billede_udvikling {
	margin-top: 50%;
	height: 15%;
}

#ul_udvikling {
    
    padding: 5%;
    width: 20%;
    background-color: #806E60;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.li_udvikling a {
    display: block;
    color: white;
    padding: 20px 3px;
    text-decoration: none;
	font-size: 80%;

	
}


.li_udvikling a:hover:not(.active) {
    background-color: #BDADA1;
    color: white;
	font-size: 80%;
	width: 100%;
		
}	
	
#homeicon {
	background-image: url(image/homeicon.svg);
	background-repeat: no-repeat;
	background-size: 90%;
	margin-left: 2%;
	height: 80%;
	margin-top: 600%;
	
}






	
	
	
	
