@charset "UTF-8";
/* CSS Document */

/*------------------------------------------- Elementer som skal gøre det samme  -------------------------------------*/
h1, h2, h3, a, p {
	font-family: "lvca-icomoon";
	line-height: 1.3;
		
}

p {
	font-size: 16px;
}

.overskifter {
	color: #806E60;
}

.valgt {
	text-decoration: underline;
	color: #D0BAA8;
}

/*------------------------------------------------------- Logo ------------------------------------------*/
#logo{
	float: left;
}
/*------------------------------------------------------- Logo slut------------------------------------------*/


/*------------------------------------------------------- Navigation ------------------------------------------*/

 
#upper-nav {
	width: 100%;
	height: 100px;
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	
	
	
	   
}
 
#navi {
	list-style: none;
	font-size: 24px;
	padding-right: 100px;
	margin-top: 35px;
	
	
		
}
 
a {
    color: #806E60;
    list-style: none;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 10px;
	float: right;
	padding-right: 20px;
	
	
	
}
 
 
 /*------------------------------------------------------- Navigation slut------------------------------------------*/
/*------------------------------------------------------- Forside ------------------------------------------*/




/*------------------------------------------------------- Forside slut ------------------------------------------*/
/*------------------------------------------------------- Portfolio ------------------------------------------*/



/*------------------------------------------------------- Gallery Portfolio ------------------------------------------*/

#portfolio_gallery {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
	padding-left: 100px;

	
}
	
.container_gallery {
	width: 360px;	

	
}

.container_gallery:hover {
	opacity: 0.5;
	border: 1px solid #806E60;
    
}

.container_gallery img {
    width: 100%;
	height: auto;
	margin-top: 30px;
	
	
}


	


/*------------ Teksten under billederne  -------------*/

.tekst_under {
	text-align: center;
	color: #806E60;
	padding: 15px;
}

/*------------------------------------------------------- photoshop  ------------------------------------------*/



#tekst_phopshop {
	padding-top: 250px;
	width: 400px;
	margin-right: 130px;
	display: block;
	float: right
}

#billede_photoshop1 {
	background-image: url(image/bro.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 170px;
	margin-left: 60px;
    width: 340px;
	float: left;
	margin-top: 277px;
}
	


#billede_photoshop2 {
	background-image: url(image/brofærdig.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 170px;
	margin-left: 60px;
    width: 340px;
	height: 100px;
	float: left;
	margin-top: 20px;
	margin-bottom: 100px;
}

/*------------------------------------------------------- photoshop SLUT  ------------------------------------------*/
/*------------------------------------------------------- Byg en app ------------------------------------------*/


/*------------ på næste side  = efter man har klikket -------------*/

#app_tekst {
	padding-top: 250px;
	width: 400px;
	margin-right: 180px;
	display: block;
	float: right;
}

#app_tekst a{
	float: none;
	
}


#app_mobil {
	background-image: url(image/appskærm.jpg);
	background-size: 90%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-left: 60px;
    width: 240px;
	float: left;
	margin-top: 120px;
	margin-bottom: 200px;
	margin-top: 277px;
	
}



/*--------------- Redesign af app ----------------*/

#app_redesign_teskt {
	padding-top: 280px;
	width: 400px;
	margin-right: 200px;
	display: block;
	float: right;
}

#app_redesign_teskt a {
	float: none;
	
}

#redesign_begge_mobile {
	background-image: url(image/app_begge.svg);
	background-size: 90%;
	background-repeat: no-repeat;
	padding: 180px;
	margin-left: 90px;
    width: 240px;
	float: left;
	margin-top: 140px;
	

}

#redesign_app_mobile {
	background-image: url(image/redesignapp.svg);
	background-size: 81%;
	background-repeat: no-repeat;
	padding: 200px;;
    width: 220px;
	float: left;
	margin-left: 90px;
	padding-left: 250px;
	margin-bottom: 200px;
	
}


	


/*------------------------------------------------------- Byg en app SLUT  ------------------------------------------*/
/*------------------------------------------------------- Sweetbot ------------------------------------------*/



/*------------ på næste side  = efter man har klikket -------------*/

#sweetbot_tekst {
	padding-top: 250px;
	width: 400px;
	float: right;
	margin-right: 100px;
	display: block;
	
}

#sweetbot_tekst a {
	float: none;
	
}

#sweetbot_billede {
	background-image: url(image/sweetbot.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 170px;
	margin-left: 60px;
    width: 340px;
	float: left;
	margin-top: 130px;
}
	

#hotbot_billede {
	background-image: url(image/hotbot.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 170px;
	margin-left: 60px;
    width: 340px;
	height: 100px;
	float: left;
	margin-top: 50px;
	margin-bottom: 200px;
}






/*------------------------------------------------------- Sweetbot SLUT ------------------------------------------*/


/*------------------------------------------------------- Drømme portfolio  ------------------------------------------*/


/*------------ på næste side  = efter man har klikket -------------*/

#droemme_tekst {
	padding-top: 250px;
	text-align: center;
	
}
#droemme_video {
    padding-top: 30px;
	padding-bottom: 500px;
	height: 100px;
	text-align: center;
     
    }
    
   
/*------------------------------------------------------- Drømme portfolio SLUT  ------------------------------------------*/


/*------------------------------------------------------- Byg din Portfolio  ------------------------------------------*/

#byg_portfolio_tekst {
	padding-top: 250px;
	width: 400px;
	float: right;
	margin-right: 150px;
	display: block;
}

#byg_portfolio_tekst a {
	float: none;
	
}

#byg_portfolio_billlede {
	background-image: url(image/bygportfoliopics.svg);
	background-repeat: no-repeat;
	padding: 290px;
	margin-left: 90px;
    width: auto;
	float: left;
	margin-top: 100px;
	
}

/*------------ på næste side  = efter man har klikket -------------*/



/*------------------------------------------------------- Byg din Portfolio SLUT  ------------------------------------------*/


/*------------------------------------------------------- Gallery Portfolio SLUT ------------------------------------*/
/*------------------------------------------------------- Portfolio SLUT ------------------------------------------*/


/*-------------------------------------------------------  Profil  ------------------------------------------*/

#billede_mig {
	background-image: url(../portfolio/image/profilmig.jpg);
	background-repeat: no-repeat;
	background-size: 350px;
	background-position: center;
	padding-bottom: 600px;
	
	 
}

#overskrift_profil {
	text-align: center;
	margin-top: -100px;
}

#om_mig_tekst {
	margin-left: 29%;
	margin-right: 29%;
	text-align: left;
	
	
	
}
/*------------------------------------------------------- kompetencer ------------------------------------------*/

/*--------Taget det fra hjemmesiden https://www.w3schools.com/howto/howto_css_skill_bar.asp -----------*/


#overskrift_kompetencer {
	text-align: center;
	margin-bottom: 40px;

}


#kompetencer {
	box-sizing: border-box;
	padding-left: 400px;
	margin-bottom: 200px;
}

.container_kompetencer {
  	width: 60%;
	border: 1px solid #CDBDB1;
	border-radius: 4px;
	box-shadow: 2px 2px 5px #888;
	
}

.skills {
  	text-align: right;
  	padding-right: 20px;
  	line-height: 30px;
  	color: #806E60;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #888;
	
}

.html {width: 55%; background-color: #CDBDB1;}
.css {width: 53%; background-color: #CDBDB1;}
.design {width: 50%; background-color: #CDBDB1;}
.illu {width: 40%; background-color: #CDBDB1;}
.php {width: 30%; background-color: #CDBDB1;}

/*------------------------------------------------------- kompetencer SLUT ------------------------------------------*/
/*------------------------------------------------------- Om Mig SLUT ------------------------------------------*/



/*-------------------------------------------------------Kontakt formular ------------------------------------------*/

#kontakt_tekst{
	padding-left: 400px;
	margin-top: 300px;
	
}

#overskrift_kontakt {
	
	color: #806E60;
}

#kontakt {
	clear: both;
}

input[type=text], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	
}

input[type=submit] {
    background-color: #806E60;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	box-shadow: 2px 2px 9px grey;
	border: 1px solid white;
}

input[type=submit]:hover {
    background-color: #D0BAA8;
}

.container_kontakt {
    border-radius: 20px;
    padding-left: 400px;
	padding-bottom: 100px;
	
	
}
/*-------------------------------------------------------Kontakt formular slut ------------------------------------------*/




/*------------------------------------------------------- Footer ------------------------------------------*/


#footer{
	text-align: center;
	height: 100px;
	border-top: 1px solid #806E60;
	margin-top: 50px;
	clear: both;
		
}

.ikoner_media {
	margin-top: 30px;
}
/*------------------------------------------------------- Footer slut ------------------------------------------*/







